@import "./assets/css/reset.css";

* {
  box-sizing: border-box;
  font-family: 'HelveticaNeue';
}

:root {
  --main-blue:#62a1eb;
  --main-black:#292929;
}

body {
  color: var(--main-black);
}

.wrapper {
  display: block;
  margin: 0 auto;
  position: relative;
}

.upload-wrapper {
  display: block;
}


.wrp::before, .wrp::after {
  content: '';
  display: table;
  clear: both;
}

.flx {
  display: flex;
}

.flx-grow {
  flex-grow: 1;
}
.flx-wrap {
  flex-wrap: wrap;
}
.flx-self-top {
  align-self: flex-start;
}
.flx-hc {
  justify-content: center;
}
.flx-hl {
  justify-content: flex-end;
}
.flx-hr {
  justify-content: flex-end;
}

.flx-vc {
  align-items: center;
}

.flx-vt {
  align-items:flex-start
}
.flx-vb {
  align-items:flex-end
}

.flx-r {
  display: flex;
  flex-direction: row;
}
.flx-c {
  display: flex;
  flex-direction: column;
}

.drag-area {
  width: 878px;
  height: 423px;
  border: 1px dashed;
  border-radius: 18px;
  overflow: hidden;
}

.drag-active {
  border-style: solid;
}

.drag-area img {
  max-width: 100%;
  object-fit: cover;
}

.border-error {
  border-color:red
}

.background-error {
  background-color: rgba(255, 0, 0, 0.1);
}
.error-text {
  color:red
}

.border-none {
  border: 0
}

.upload-button input {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.button-link {
  display: block;

}

input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}

.overlay {
  background-color: #4a4a4a;
  position: fixed;
  display: block;
  inset: 0;
  z-index: -1;
}

.popup {
  width: 847px;
  height: 537px;
  margin: 0 auto;
  background-color:#fff;
  z-index: 1;
}

.success {
  height: 100vh;
}

.pointer:hover {
  cursor: pointer;
}

.button {
  background-color: var(--main-blue);
  color: #fff;
  border: 0;
  padding: 18px 60px;
  border-radius: 8px;
  line-height: 24px;
  width: 100%;
  text-align: center;
}

.button:hover {
  background-color: #317ad0;
}

.button:active {
  background-color: #1a5dab;
}

.success-body {
  width: 297px;
}
.welcome-body {
  width: 387px;
}
.button:hover {
  cursor: pointer;
}

.popup .image-cont {
  margin-bottom: -15px;
}

.lnk {
  text-decoration: none;
}

.txt-link {
  color: #0089A7;
}

.header-wrap {
  display: block;
  padding: 53px 70px 27px
}

.button-back {
  height: 53px;
  width: 53px;
  background-color: #d9d9d9;
  border-radius: 100%;
}


.grid {
  display: grid;
}

.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

/* list */

.list-wrapper {
  max-width: 1178px;
}

.laptop-list .image-wrapper {
  border-radius: 10px;
}
.laptop-list img {
  height: 178px;
  width: 266px;
}

.laptop-list-item {
  padding: 14px;
  background-color: #eafaff;
  border: 1px solid #aed1ea;
  border-radius: 28px;
}

.laptop-list {
  grid-template-columns: 1fr 1fr;
  grid-gap: 52px;
}

/* list */